{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block style %}
        <link rel="stylesheet" href="{% static 'exos/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'exos/css/bootstrap-theme.min.css'%}">
    {% endblock %}
    {% block title %}
        <title>Home</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block header %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Hello {% if request.user.username %}{{request.user.username}}
                            {% else %}{{request.COOKIES.username}} !{% endif %}</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% if not request.user.is_authenticated %}
                                <li><a href="/register">Register</a></li>
                                <li><a href="/login">Login</a></li>
                            {% else %}
                                <li><a href="/logout">Logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <div class="jumbotron">
            {% block content %}
            {% if request.user.is_authenticated %}
                {% include 'exos/tip.html' %}
            {% else %}
                <div class="display3 lead">Hi ! Glad to meet you !</div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</body>
</html>